<h1>
<center>
Module 8: Artifical Neural Nets Assignment
</center>
</h1>
<div class=h1_cell>
<p>
I think it would be fun to try something out. Let's apply our ANN method to predicting loans. We have been using what are termed "shallow" machine learning methods to this point. Let's see what we can do with an ANN.
</div>

In [387]:
import pandas as pd

In [388]:
with open('/Users/Noah/Documents/My Documents/2018:2019/2. Winter/CIS 399/Assignment8/loan_table_week4.csv', 'r') as f:
  loan_table = pd.read_csv(f)

In [389]:
from library_w19_deep_1 import *

%who function

ann_predictor	 ann_simple	 ann_simple_batch	 ann_tester	 from_scratch	 from_scratch_batch	 mse	 mse_der	 sigmoid
sigmoid_der

In [390]:
import numpy as np

<h2>Challenge 1: connect Loan Table to simple ANN (30 points)</h2>

Choose 3 columns from loan_table and wrangle them into shape so we can feed our simple ANN.

<h2>Reminder of what we are working with</h2>

I'm saying we can choose 3 columns from the loan table and use the values for the 3 inputs x1,x2,x3.

<img src='https://www.dropbox.com/s/09vo4h9mufmo6tn/Screenshot%202019-02-01%2015.23.42.png?raw=1'>

<h2>Choice of our 3 columns</h2>

Here are the columns we have to choose from.

In [391]:
loan_table.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,...,apin_bin,apin_low,apin_average,apin_high,apin_nan,dep_0,dep_1,dep_2,dep_3+,dep_nan
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,...,low,1,0,0,0,1,0,0,0,0

In [392]:
loan_table.describe(include='all')

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,...,apin_bin,apin_low,apin_average,apin_high,apin_nan,dep_0,dep_1,dep_2,dep_3+,dep_nan
count,601,611,599,614,582,614.000000,614.000000,592.000000,600.00000,564.000000,...,614,614.000000,614.000000,614.000000,614.0,614.000000,614.000000,614.000000,614.000000,614.000000
unique,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,...,low,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,489,398,345,480,500,NaN,NaN,NaN,NaN,NaN,...,607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,5403.459283,1621.245798,146.412162,342.00000,0.842199,...,NaN,0.988599,0.008143,0.003257,0.0,0.561889,0.166124,0.164495,0.083062,0.024430
std,NaN,NaN,NaN,NaN,NaN,6109.041673,2926.248369,85.587325,65.12041,0.364878,...,NaN,0.106250,0.089945,0.057026,0.0,0.496559,0.372495,0.371027,0.276201,0.154506
min,NaN,NaN,NaN,NaN,NaN,150.000000,0.000000,9.000000,12.00000,0.000000,...,NaN,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,2877.500000,0.000000,100.000000,360.00000,1.000000,...,NaN,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,3812.500000,1188.500000,128.000000,360.00000,1.000000,...,NaN,1.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,5795.000000,2297.250000,168.000000,360.00000,1.000000,...,NaN,1.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,NaN,NaN,NaN,NaN,81000.000000,41667.000000,700.000000,480.00000,1.000000,...,NaN,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000

I like `Credit_History` in its raw form - not ohe form. No need to use ohe with the ANN.
<p>
  I like `ApplicantIncome` in its raw form. Again, no need to bin or ohe this column. In essence, we are asking the ANN to find the bins that are most useful. You will have to normalize this column.
  <p>
    I like `Married` but we will have to transform into 0 and 1.
    <p>
      I am not going to mess around with rows that have an empty value in one of the 3 columns. I am just going to throw them out.
      <p>

<h2>My way</h2>

I'll give you the steps I followed. However, you don't have to follow these steps. If you can get to the goal some other way, please feel free. What is our goal? To have the variables `feature_set` and `labels` set up so we can call `from_scratch` as shown below.

<img src='https://www.dropbox.com/s/h6vjn99ybtsozjn/Screenshot%202019-02-19%2008.45.31.png?raw=1'><br>
<img src='https://www.dropbox.com/s/7irwbe327c4tv8y/Screenshot%202019-02-19%2008.46.02.png?raw=1'><br>
<img src='https://www.dropbox.com/s/wokpipqobpkg83a/Screenshot%202019-02-19%2008.46.27.png?raw=1'>
<p>
  And here are my results:
  <p>
    <img src='https://www.dropbox.com/s/uvs3ni7vwa3s2ai/Screenshot%202019-02-24%2010.24.03.png?raw=1'>

<h3>My way: step 1</h3>

Build a new table that only has the 3 columns plus the target column.

In [393]:
raw_table =  loan_table.copy()  #just made a copy
raw_table.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,...,apin_bin,apin_low,apin_average,apin_high,apin_nan,dep_0,dep_1,dep_2,dep_3+,dep_nan
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,...,low,1,0,0,0,1,0,0,0,0

In [394]:
ann_table = pd.DataFrame()
ann_table["Credit_History"] = raw_table["Credit_History"]
ann_table["ApplicantIncome"] = raw_table["ApplicantIncome"]
ann_table["Married"] = raw_table["Married"]
ann_table["Loan_Status"] = raw_table["Loan_Status"]
ann_table.head(1)

   Credit_History  ApplicantIncome Married  Loan_Status
0             1.0             5849      No            1

<h3>My way: step 2</h3>

Drop all rows with a NaN.

In [395]:
ann_table = ann_table.dropna()

In [396]:
ann_table.describe(include='all')

        Credit_History  ApplicantIncome Married  Loan_Status
count       561.000000       561.000000     561   561.000000
unique             NaN              NaN       2          NaN
top                NaN              NaN     Yes          NaN
freq               NaN              NaN     362          NaN
mean          0.841355      5462.475936     NaN     0.680927
std           0.365671      6284.680488     NaN     0.466533
min           0.000000       150.000000     NaN     0.000000
25%           1.000000      2889.000000     NaN     0.000000
50%           1.000000      3813.000000     NaN     1.000000
75%           1.000000      5800.000000     NaN     1.000000
max           1.000000     81000.000000     NaN     1.000000

<h3>My way: step 3</h3>

Wrangle the Married column into binary form.

In [397]:
ann_table.Married[ann_table.Married == 'Yes'] = 1
ann_table.Married[ann_table.Married == 'No'] = 0

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [398]:
ann_table.head(1)

   Credit_History  ApplicantIncome Married  Loan_Status
0             1.0             5849       0            1

<h3>My way: step 4</h3>

Normalize the ApplicantIncome column.

In [399]:
ann_table["apin_normed"]=(ann_table["ApplicantIncome"]-ann_table["ApplicantIncome"].min())/(ann_table["ApplicantIncome"].max()-ann_table["ApplicantIncome"].min())

In [400]:
ann_table = ann_table.drop(columns="ApplicantIncome")
ann_table.head()

   Credit_History Married  Loan_Status  apin_normed
0             1.0       0            1     0.070489
1             1.0       1            0     0.054830
2             1.0       1            1     0.035250
3             1.0       1            1     0.030093
4             1.0       0            1     0.072356

<h3>Most of way to having feature set</h3>

At this point I have the following table.<br>
<img src='https://www.dropbox.com/s/4yq0hbputlh8gt9/Screenshot%202019-02-19%2008.58.12.png?raw=1'>

<h3>My way: step 5</h3>

Turning attention to labels. Pull them out of table and get them into numpy array of correct shape, i.e., (561, 1).

In [401]:
labels = np.array(ann_table["Loan_Status"])
print(labels.shape)

(561,)

In [402]:
labels = np.expand_dims(labels, axis=1)
print(labels.shape)
ann_table = ann_table.drop(columns="Loan_Status")

(561, 1)

In [403]:
ann_table.head()

   Credit_History Married  apin_normed
0             1.0       0     0.070489
1             1.0       1     0.054830
2             1.0       1     0.035250
3             1.0       1     0.030093
4             1.0       0     0.072356

<h3>My way: step 6</h3>

After dropping the Loan_Status column, all I need to do is turn my table into a list of lists. And then turn that into a numpy array.

In [404]:
feature_set = ann_table.values.tolist()
feature_set = np.array(feature_set)

In [405]:
print(feature_set.shape)
feature_set[0]

(561, 3)

array([1.        , 0.        , 0.07048856])

<h3>I am good to go</h3>

I have `feature_set` and `labels` set up. Ready to call `from_scratch`.

In [24]:
from_scratch(feature_set, labels, hypers={'epochs':10000, 'cost-reporting':1000, 'learning-rate': .05}) #can take awhile

(0, array([0.20333324]))
(1000, array([0.15038707]))
(2000, array([0.15023847]))
(3000, array([0.15023937]))
(4000, array([0.1502394]))
(5000, array([0.1502394]))
(6000, array([0.1502394]))
(7000, array([0.1502394]))
(8000, array([0.1502394]))
(9000, array([0.1502394]))
(10000, array([0.1502394]))

(array([[ 4.16472464],
        [ 0.57575124],
        [-0.74786424]]), array([-2.88273643]))

In [25]:
#copied and pasted from above results

ann_tester(feature_set, labels, [[ 4.16472838], [ 0.57575141], [-0.74925534]], [-2.88134978])

0.8146167557932263

<h2>Not bad</h2>

With just 4 weights we are able to significantly improve over the accuracy we got from random forests.

<h2>Can we do better by adjusting the learning rate?</h2>
​
Let's see if we can do better by decreasing the learning rate. We might be in a local minima/valley and can crawl out with smaller steps.

In [26]:
from_scratch(feature_set, labels, hypers={'epochs':10000, 'cost-reporting':1000, 'learning-rate': .01}) #can take awhile

(0, array([0.21049601]))
(1000, array([0.15100095]))
(2000, array([0.15010167]))
(3000, array([0.15008389]))
(4000, array([0.15008281]))
(5000, array([0.15008501]))
(6000, array([0.15008688]))
(7000, array([0.15008801]))
(8000, array([0.15008862]))
(9000, array([0.15008893]))
(10000, array([0.15008908]))

(array([[ 4.14912596],
        [ 0.56890076],
        [-0.74108265]]), array([-2.87222201]))

In [27]:
#copied and pasted from above results

ann_tester(feature_set, labels, [[ 4.14912334], [ 0.56890032], [-0.74241646]], [-2.87084687])

0.8146167557932263

No help. Same as with learning rate of `.05`. I could continue to play with the learning rate but am going to switch to another strategy: add another feature.

<h1>Challenge 2: add a 4th column (20 points)</h1>

Build a feature set that has 4 values taken from ['Credit_History', 'ApplicantIncome', 'Married', 'Education']. You will have to wrangle `Education`.
<p>
Build your ANN using from_scratch and these hypers: hypers={'epochs':10000, 'cost-reporting':1000, 'learning-rate': .05}.
  <p>
    Test it with ann_tester.

In [406]:
ann_table["Education"] = raw_table["Education"]
ann_table.Education[ann_table.Education == 'Graduate'] = 1
ann_table.Education[ann_table.Education == 'Not Graduate'] = 0
fs = ann_table.values.tolist()
fs = np.array(fs)

lab = labels

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Applications/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [407]:
fs.shape

(561, 4)

In [408]:
lab.shape

(561, 1)

In [ ]:
from_scratch(fs, lab, hypers={'epochs':10000, 'cost-reporting':1000, 'learning-rate': .05}) #can take awhile

(0, array([0.20235387]))

Looks like our ending cost is about the same than with just 3 columns. That should lead to roughly same accuracy than with 3 columns, i.e., `0.8146`. Let's see.

In [310]:
ann_tester(fs, lab, [[ 4.11293303], [-0.5402908 ], [ 0.34635578], [-0.96150273]], [-2.53688187])

0.8146167557932263

The same.
<p>
  From here we could try different combos of columns and also adjust the hyper-parameters. This is exactly where most of the time is spent in deep learning. It is easy to build the models but hard to find really good parameter settings.

<h1>Challenge 3: Batch it (50 points)</h1>

I have mentioned the term "batch" in several places but never really defined it. Batch has to do with the slice of samples we take before updating weights. We have been using a batch size of 1; we take 1 sample and then do backprop and update the weights. This is also referred to as online learning or pure stochastic gradient descent.
<p>
  What are other options? We could delay updating weights until after we have seen n samples. If n is the length of entire feature set, it is called batch learning. If n is less than that length, it is called mini-batch.
  <p>
This is how it works. Let's say the batch size is set to H, half the length of the entire feature set. We do normal back propogation of each sample. We compute the changes to be made to each weight. But now we keep a running total for each weight. We don't actually change the weight until we are done with H samples. Once we have seen H samples, we then update each weight with its running total divided by H.
    <p>
      At this point we have seen the first H samples. Now we get setup to take the next H samples and do the same.
      <p>
        Once we have run through all samples in the feature set, we are done with one epoch.
        <p>
The extremes of batch learning are (a) batch = full feature set, i.e., accumulate weight changes until very end then do just one weight adjustment, and (b) batch size = 1, i.e., what we have been doing. Between the extremes is mini-batch where batch size is less than full feature set and greater than 1.
<p>
I'd like you to write a new function, ann_simple_batch, that has this header:
  <pre>
 def ann_simple_batch(all_samples, labels, weights, bias, hypers={}):
  
  '''
  Can build an ANN with n input nodes and one output node.
  Uses sigmoid and mse.
  '''
  
  input_n = all_samples.shape[1]  #number of inputs in each sample
  
  assert weights.shape == (input_n,1), 'weights needs to have same shape as sample'
  assert all_samples.shape[0] >= 1, 'all_samples must represent 1 or more samples'
  assert bias.shape == (1,) , 'a single bias weight for output node'
  assert labels.shape[1] == 1, 'actual value for the 1 output node'
  assert labels.shape[0] == all_samples.shape[0], 'labels must match up with samples'
  
  hyper_keys = [*hypers]  #fails on 2.7
  target_set = set(['epochs', 'cost-reporting', 'learning-rate', 'batch-size'])  #might add more later
  diff_set = set(hyper_keys) - target_set
  if diff_set: print('WARNING: unrecognized hyper parameters ' + str(diff_set))

  max_epochs = hypers['epochs'] if 'epochs' in hypers else 100
  cost_reporting = hypers['cost-reporting'] if 'cost-reporting' in hypers else 100  #how often to report epoch cost
  alpha = hypers['learning-rate'] if 'learning-rate' in hypers else .05  #learning rate
batch_n = min(hypers['batch-size'],len(all_samples))  if 'batch-size' in hypers else 1  #batch size defaults to 1
  </pre>

In [369]:
def ann_simple_batch(all_samples, labels, weights, bias, hypers={}):
  
    '''
    Can build an ANN with n input nodes and one output node.
    Uses sigmoid and mse.
    '''
  
    input_n = all_samples.shape[1]  #number of inputs in each sample
  
    assert weights.shape == (input_n,1), 'weights needs to have same shape as sample'
    assert all_samples.shape[0] >= 1, 'all_samples must represent 1 or more samples'
    assert bias.shape == (1,) , 'a single bias weight for output node'
    assert labels.shape[1] == 1, 'actual value for the 1 output node'
    assert labels.shape[0] == all_samples.shape[0], 'labels must match up with samples'
  
    hyper_keys = [*hypers]  #fails on 2.7
    target_set = set(['epochs', 'cost-reporting', 'learning-rate', 'batch-size'])  #might add more later
    diff_set = set(hyper_keys) - target_set
    if diff_set: print('WARNING: unrecognized hyper parameters ' + str(diff_set))

    max_epochs = hypers['epochs'] if 'epochs' in hypers else 100
    cost_reporting = hypers['cost-reporting'] if 'cost-reporting' in hypers else 100  #how often to report epoch cost
    alpha = hypers['learning-rate'] if 'learning-rate' in hypers else .05  #learning rate
    batch_n = min(hypers['batch-size'],len(all_samples))  if 'batch-size' in hypers else 1  #batch size

    #*****************************************#

    cost_accumulator = [0, 0]  #[count, sum] use to print out costs now and then

    #print(batch_n)
    for i in range(max_epochs):
        
        length_samples = len(all_samples)
        length_weights = len(weights)
        temp_weights = [0.0] * length_weights
        temp_bias = 0.0

        #Go through each sample forward and backward
        for j in range(length_samples):
            
            #do forward propogation
            sample = np.expand_dims(all_samples[j], axis=1) #transform to match up with weight shape
            XW = np.multiply(sample, weights)
            XW_sum = np.sum(XW, axis=0)
            raw_output = XW_sum + bias
            z = sigmoid(raw_output)  #what we are predicting

            #compute error
            cost = mse(z, labels[j])
            cost_accumulator[0] += 1  #use to print out
            cost_accumulator[1] += cost  #use to print out

            #back propogation
            mse_deriv_value = mse_der(z, labels[j])
            sigmoid_deriv_value = sigmoid_der(raw_output)
            z_delta = mse_deriv_value * sigmoid_deriv_value
        
            #accumulate weight change
            for k in range(length_weights):
                temp_weights[k] += alpha * all_samples[j][k] * z_delta
            
            #accumulate bias change
            temp_bias += 1.0*z_delta

            #Standard
            if(batch_n==1):
                for k in range(length_weights):
                    weights[k][0] -= alpha * all_samples[j][k] * z_delta
                bias -= 1.0*z_delta
            
            #Mini Batch
            elif(batch_n<length_samples and j%batch_n==0):
                for k in range(length_weights):
                    weights[k][0] -= temp_weights[k]/batch_n
                    temp_weights[k] = 0.0
                bias -= temp_bias/batch_n
                temp_bias = 0.0
               
            #elif(batch_n<length_samples and length_samples-(j+
            
            #Batch
            elif(j==length_samples-1):
                for k in range(length_weights):
                    weights[k][0] -= temp_weights[k]/batch_n
                    temp_weights[k] = 0.0
                bias -= temp_bias/batch_n
                temp_bias = 0.0
            
            #count remainder for division   
            #mini = length_samples%batch_n
                
        #Clean up 
        for k in range(length_weights):
            #Should add in all accumulated weights left, but messes them up
            """
            if mini!=0:
                weights[k][0] -= temp_weights[k]/mini
                bias -= temp_bias/mini
            """
            temp_weights[k] = 0.0
            temp_bias = 0.0
        
        #print ith cost value
        if i%cost_reporting == 0:
            average_cost = cost_accumulator[1]/cost_accumulator[0]  #really mse where n is cost_reporting epochs
            print((i,average_cost))
            cost_accumulator = [0, 0]  #reset

        #end epoch loop

    if cost_accumulator[0]:
        average_cost = cost_accumulator[1]/cost_accumulator[0]  #really mse where n is cost_reporting epochs
        print((max_epochs,average_cost))

    return (weights,bias)  #don't lose these! They are the whole model.

In [370]:
#I'll give you this one - it calls your new batch function

def from_scratch_batch(samples, labels, hypers):
  
  input_n = samples.shape[1]
  
  #reset weights to initial values. Seed of 42 guarantees same random values
  np.random.seed(42)
  weights = np.random.rand(input_n,1)
  bias = np.random.rand(1)
  
  return ann_simple_batch(samples, labels, weights, bias, hypers)

In [371]:
#full batch on 3 columns

from_scratch_batch(feature_set, labels, hypers={'epochs':10000, 'cost-reporting':1000, 'learning-rate': .05, 'batch-size': len(feature_set)})

(0, array([0.2252507]))
(1000, array([0.18963359]))
(2000, array([0.16724566]))
(3000, array([0.15781835]))
(4000, array([0.15358892]))
(5000, array([0.15142295]))
(6000, array([0.15018053]))
(7000, array([0.14940384]))
(8000, array([0.14888593]))
(9000, array([0.14852327]))
(10000, array([0.14825964]))

(array([[3.08766439],
        [0.44287756],
        [0.63808357]]), array([-2.11198922]))

Roughly the same weights as challenge 1. Let's check out accuracy.

In [352]:
#trying to meet or beat the results from challenge 1: 0.8146167557932263

ann_tester(feature_set, labels, [[3.08764862], [0.44288226], [0.63812674]], [-2.11309206])

0.8146167557932263

No change in accuracy. As reminder, with full batch we only update the weights every epoch. In our case we average one weight change over 561 samples. Even though are results are same as with challenge 1, here is more on why full-batch may not be the best approach: https://www.researchgate.net/post/How_to_update_weights_in_Batch_update_method_of_backpropagation. also see this https://datascience.stackexchange.com/questions/16807/why-mini-batch-size-is-better-than-one-single-batch-with-all-training-data
<p>
  Let's try batch size of 1. This is same as in challenge 1 so should get same results.

In [372]:
#batch size of 1 - should be same as seen in challenge 1: (array([[ 4.16472838], [ 0.57575141], [-0.74925534]]), array([-2.88134978]))

from_scratch_batch(feature_set, labels, hypers={'epochs':10000, 'cost-reporting':1000, 'learning-rate': .05, 'batch-size': 1})

(0, array([0.20333324]))
(1000, array([0.15038707]))
(2000, array([0.15023847]))
(3000, array([0.15023937]))
(4000, array([0.1502394]))
(5000, array([0.1502394]))
(6000, array([0.1502394]))
(7000, array([0.1502394]))
(8000, array([0.1502394]))
(9000, array([0.1502394]))
(10000, array([0.1502394]))

(array([[ 4.16472464],
        [ 0.57575124],
        [-0.74786424]]), array([-2.88273643]))

Same weights, as we expected.

<h3>Let's try mini-batch</h3>

I am using 32 because that is the current common wisdom in the deep learning community. This paper discusses, more generally, good values to choose for deep learning hyper-parameters: https://www.dropbox.com/s/h1wo6gajtlihdnw/setting_hypers.pdf?dl=0.

In [373]:
from_scratch_batch(feature_set, labels, hypers={'epochs':10000, 'cost-reporting':1000, 'learning-rate': .05, 'batch-size': 32})

(0, array([0.21894132]))
(1000, array([0.1527709]))
(2000, array([0.14738656]))
(3000, array([0.14727544]))
(4000, array([0.14724679]))
(5000, array([0.14723211]))
(6000, array([0.14722179]))
(7000, array([0.14721361]))
(8000, array([0.14720689]))
(9000, array([0.14720129]))
(10000, array([0.14719662]))

(array([[3.94445382],
        [0.56322239],
        [0.02895353]]), array([-2.92489458]))

In [255]:
ann_tester(feature_set, labels, [[3.95638668], [0.5550847 ], [0.05681819]], [-2.92605609])

0.8146167557932263

Same as with batch size = 1. In general, the larger the batch size the better. Why? Less weight updating. For the size of our problem it will be a negligible savings.
<p>
  But batch size has another important effect. It is a bit like the learning rate tamping down large swings of direction. Maybe you can guess why. In essence we are averaging weight changes over a batch. So it tends to smooth things out. I'll leave you with a pointer if you are interested in following up: https://stats.stackexchange.com/a/183990.

<h1>Extra Credit: </h2>

Try out `from_scratch_batch` on the Titanic data. See if you can beat the best score from the decision tree we built in week 4.
<p>
  I would include as many columns as you can. You can use Age directly - no binning necessary. Might be better to use ohe version of Pclass.
  <p>
    Remeber that `from_scratch_batch` will "stretch" the input weights to match your sample size. So I don't think you have to change any code. I think the main challenge is just wrangling `feature_set` and `labels` to get in shape for training.

In [0]:
#I'll give you a wrangled titanic table to get started with.

titanic_table = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR2XbLnUuYlxaFMdS8_bBX3iKUIDEii6Lg5Rxesf-Oh8a6z8-vAN6UDGejaOrBg5130h4O_dLkecKWQ/pub?output=csv')
titanic_table.head(1)

In [0]:
fs.shape

In [0]:
lab.shape

In [0]:
#I just used ['Age', 'Sex', 'Pclass'] as input (i.e., 3 nodes). Bet you can do better with more columns.

from_scratch_batch(fs, lab, hypers={'epochs':10000, 'cost-reporting':1000, 'learning-rate': .05, 'batch-size': 32})

<hr>
<h1>Write it out</h1>
<div class=h1_cell>

You defined some new functions so add them to  `library_w19_deep_1b.py`.
<p>

</div>

In [374]:

output_array = (feature_set.tolist(), labels.tolist())
import pickle

with open('/Users/Noah/Documents/My Documents/2018:2019/2. Winter/CIS 399/Assignment8/loan_labels_ann', 'wb') as fp:
    pickle.dump(output_array, fp)

In [375]:
with open ('/Users/Noah/Documents/My Documents/2018:2019/2. Winter/CIS 399/Assignment8/loan_labels_ann', 'rb') as fp:
    test_out = pickle.load(fp)

In [376]:
fset = test_out[0]
labs = test_out[1]

In [377]:
nfset = np.array(fset)
(nfset == feature_set).all()

True

In [378]:
nlabs = np.array(labs)
(nlabs == labels).all()

True

In [379]:
print(nfset.shape)
print(nlabs.shape)

(561, 3)
(561, 1)

In [380]:
#should get (900, array([0.20541425]))

from_scratch(nfset, nlabs, hypers={'epochs':1000, 'cost-reporting':100, 'learning-rate': .05})

(0, array([0.20333324]))
(100, array([0.15167822]))
(200, array([0.15028916]))
(300, array([0.15025866]))
(400, array([0.15024222]))
(500, array([0.15023467]))
(600, array([0.1502322]))
(700, array([0.15023221]))
(800, array([0.15023323]))
(900, array([0.1502345]))
(1000, array([0.15023566]))

(array([[ 4.15999099],
        [ 0.57509469],
        [-0.69123216]]), array([-2.88193287]))

In [382]:
with open('/Users/Noah/Documents/My Documents/2018:2019/2. Winter/CIS 399/Assignment8/loan_labels_ann.txt', 'w') as f:
  np.savetxt(f, labels)

In [383]:
with open('/Users/Noah/Documents/My Documents/2018:2019/2. Winter/CIS 399/Assignment8/loan_labels_ann.txt', 'r') as f:
  check_labs = np.loadtxt(f)
(check_labs.shape, labels.shape)  #have to reestablish 2nd index of 1 - it is lost on writing

((561,), (561, 1))

In [384]:
with open('/Users/Noah/Documents/My Documents/2018:2019/2. Winter/CIS 399/Assignment8/loan_input_ann.txt', 'w') as f:
  np.savetxt(f, feature_set)

In [385]:
with open('/Users/Noah/Documents/My Documents/2018:2019/2. Winter/CIS 399/Assignment8/loan_input_ann.txt', 'r') as f:
  check_input = np.loadtxt(f)
(check_input.shape,feature_set.shape)

((561, 3), (561, 3))

In [386]:
feature_set.shape

(561, 3)